<script>
  {% include navigation.js %}
</script>

<nav>
  <div class='nav-menu-button'>
    menu
  </div>
  <div class='nav-menu'>
    <ul>
      {% for item in site.data.navigation %}
      <li>

        <a
          href="{{ item.link }}"
          class="
            {% if page.url == item.link %}current{% endif %}
            {% if page.url contains item.collection %}menu{% endif %}
          "
        >
          {{ item.title }}
        </a>

        {% if page.url contains item.collection %}
        <ul class="sublist">
          {% for subitem in site[item.collection] %}
          <li>
            <a href="{{ subitem.url }}" {% if page.url == subitem.url %}class="current-subitem"{% endif %}>
              {{ subitem.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
