.container {
  display: flex;
  flex-direction: column;
  padding: 1em;

  main {
    flex: 1;
  }
}

main {
  margin: auto;
}

nav {
  position: relative;
  width: 100%;
}

.nav-menu-button {
  display: block;
  text-align: center;
}
.nav-menu {
  position: absolute;
  width: 100%;
  display: none;
}

h1 {
  // text-align: center;
}

.paintings-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.paintings-child {
  margin: 1em;
  margin-top: 0;
  flex: 1;
}
.painting-preview {
  width: 100%;
}

.painting {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  &.narrow-screen {
    width: none;
    height: 100%;
  }

  &.wide-screen {
    width: 100%;
    height: none;
  }
}

ul {
  // padding-inline-start: 0;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  nav {
    width: initial;
    margin-right: 2em;
  }
  .nav-menu-button {
    display: none;
  }
  .nav-menu {
    position: relative;
    display: block;
  }

  h1 {
    // text-align: left;
  }

  .paintings-container {
    flex-direction: row;
    height: 15em;
  }
  .paintings-child {
    height: 100%;
    margin: 0 1em;
  }
  .painting-preview {
    height: 100%;
    width: auto;
  }
}
