body {
  font-family: sans-serif;
}

main {
  margin: auto;
  padding-left: 10vw;
  width: 80%;
}

ul {
  list-style: none;
}

a {
  color: royalblue;
  text-decoration: none;
  background: rgba(256,256,0,0.5);
  &:hover {
    color: red;
    background: rgba(256,0,256,0.5);
  }
}

nav {
  position: fixed;

  .current {
    background: limegreen;
  }
  .current-subitem {
    background: pink;
  }
}

.paintings-container {
  display: flex;
  align-items: stretch;
  height: 200px;
}
.paintings-child {
  flex: 1;
  margin: 20px;
  height: 100%;
}
.painting-preview {
  height: 100%;
}

.painting {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  &.narrow-screen {
    width: none;
    height: 100%;
  }

  &.wide-screen {
    width: 100%;
    height: none;
  }
}
