---
layout: default
---
<script>
  const previous = "{{ page.previous.url }}" || "{{ site.paintings.last.url }}";
  const next = "{{ page.next.url }}" || "{{ site.paintings.first.url }}";
  {% include painting.js %}
</script>

<h1>{{ page.title }}</h1>
{% assign artist = site.artists | where: 'first_name', page.artist | first %}
{% if artist %}
<h2>by <a href="{{ artist.url }}">{{ artist.first_name }}</a></h2>
{% else %}
<h2>by {{ page.artist }}</h2>
{% endif %}

<a href="{{ page.next.url }}"><img src="{{ page.image_url }}" class="painting narrow-screen" /></a>
