.Result {
  .answer {
    ul {
      padding: 0;
      list-style: none;

      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 10px;
        flex-wrap: wrap;

        img {
          object-fit: contain;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .reset {
    button {
      border-radius: 50px;
    }
  }
}
@media only screen and (max-device-width : 1024px) {
  .Result {
    .answer {
      ul {
        flex-direction: column;
      }
    }
  }
}
