.Whoracle {
  margin: auto;

  text: {
    align: center;
  }
  color: #333;

  img {
    width: 100%;
  }

  .whoracleForm {
    .whoracleInput {
      font-size: 2em;
      &::placeholder {
        color: lightblue;
      }
    }
  }
}
